<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Us | Can You Code It</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/lightbox.css" rel="stylesheet"> 
    <link href="static/css/animate.min.css" rel="stylesheet"> 
	<link href="static/css/main.css" rel="stylesheet">
	<link href="static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/Home">
                        <h1><img src="static/images/logo.png" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home">Home</a></li>
                        <li class="active"><a href="/AboutUs">About Us</a></li>
                        <li><a href="/TheChallenges">The Challenges</a></li>  
                        <li><a href="/FAQ">FAQ</a></li>
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">About</h1>
                            <p>Learn more about the Can You Code It? project</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    
    
   <section id="aboutcyci" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-left">
                    <h2 class="page-header">What?</h2>
                    <p>Donec velit mi, posuere in aliquet eget, dapibus eu eros. Cras cursus nisi vitae risus faucibus, ornare luctus dui accumsan. Praesent viverra ultrices erat sit amet varius. Curabitur iaculis orci turpis, nec condimentum mi aliquam vel. Donec gravida vehicula ex, ut condimentum eros sagittis vel. Ut vel orci porttitor, tincidunt purus ac, tincidunt quam. Integer felis est, imperdiet sit amet faucibus ac, posuere quis eros. Vivamus posuere eros non tortor lobortis, in semper dolor pretium. Sed tincidunt leo vel dui consectetur auctor. Phasellus eget arcu augue.</p>
                    <p>Mauris blandit metus sed sollicitudin consequat. Maecenas ac convallis ligula. Nullam mollis vitae ante et porta. Duis lobortis in erat vel elementum. Phasellus vitae quam enim. Donec eget varius ipsum. Ut at imperdiet magna. Quisque quis mattis mauris, nec egestas metus.</p>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12 text-left">
                    <h2 class="page-header">Who?</h2>
                    <p>Donec velit mi, posuere in aliquet eget, dapibus eu eros. Cras cursus nisi vitae risus faucibus, ornare luctus dui accumsan. Praesent viverra ultrices erat sit amet varius. Curabitur iaculis orci turpis, nec condimentum mi aliquam vel. Donec gravida vehicula ex, ut condimentum eros sagittis vel. Ut vel orci porttitor, tincidunt purus ac, tincidunt quam. Integer felis est, imperdiet sit amet faucibus ac, posuere quis eros. Vivamus posuere eros non tortor lobortis, in semper dolor pretium. Sed tincidunt leo vel dui consectetur auctor. Phasellus eget arcu augue.</p>
                    <p>Mauris blandit metus sed sollicitudin consequat. Maecenas ac convallis ligula. Nullam mollis vitae ante et porta. Duis lobortis in erat vel elementum. Phasellus vitae quam enim. Donec eget varius ipsum. Ut at imperdiet magna. Quisque quis mattis mauris, nec egestas metus.</p>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12 text-left">
                    <h2 class="page-header">How?</h2>
                    <p>Donec velit mi, posuere in aliquet eget, dapibus eu eros. Cras cursus nisi vitae risus faucibus, ornare luctus dui accumsan. Praesent viverra ultrices erat sit amet varius. Curabitur iaculis orci turpis, nec condimentum mi aliquam vel. Donec gravida vehicula ex, ut condimentum eros sagittis vel. Ut vel orci porttitor, tincidunt purus ac, tincidunt quam. Integer felis est, imperdiet sit amet faucibus ac, posuere quis eros. Vivamus posuere eros non tortor lobortis, in semper dolor pretium. Sed tincidunt leo vel dui consectetur auctor. Phasellus eget arcu augue.</p>
                    <p>Mauris blandit metus sed sollicitudin consequat. Maecenas ac convallis ligula. Nullam mollis vitae ante et porta. Duis lobortis in erat vel elementum. Phasellus vitae quam enim. Donec eget varius ipsum. Ut at imperdiet magna. Quisque quis mattis mauris, nec egestas metus.</p>
                    <br/><br/><br/><br/><br/>
                </div>
            </div>
       
        
            <div id="quote">
                <div class="row">
                    
                    <div class="col-md-6">
                        
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div><!--/#quote--> 
        
            <div class="padding"></div>
       
        
        </div>  
    </section> 
    <!--/#aboutcyci-->
    
    


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="static/images/home/under.png" class="img-responsive inline" alt="">
                </div>
              
                
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Can You Code It? 2017. All Rights Reserved.</p>
                        <p>Developed by <a target="_blank" href="http://www.cdn.ac.uk/">College Development Network</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->


    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/lightbox.min.js"></script>
    <script type="text/javascript" src="static/js/wow.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>   
</body>
</html>
