<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Demo Result | Can You Code It</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/lightbox.css" rel="stylesheet"> 
    <link href="static/css/animate.min.css" rel="stylesheet"> 
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/Home">
                        <h1><img src="static/images/logo.png" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home">Home</a></li>
                        <li><a href="/AboutUs">About Us</a></li>
                        <li class="active"><a href="/TheChallenges">The Challenges</a></li>  
                        <li><a href="/FAQ">FAQ</a></li>
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div><center><br/><br/><h1>Can You Code It - Demo Analysis [Beta version]</h1></center></div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Code attributes', 'Score'],
          ['Style',     Math.random()],
          ['Application',      Math.random()],
          ['Execution time',  Math.random()],
          ['Innovation', Math.random()],
          ['CPU resourcing',    Math.random()]
        ]);

        var options = {
          title: 'Your code analysis'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }

    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Code attributes', 'Score'],
          ['Run time', Math.random() *100],
          ['Appearence', Math.random() *100],
          ['Python Indentations', Math.random() *100],
          ['Line count', Math.random() *100],
          ['Duplication probability', Math.random() *100],
          ['Projected number of lines of code', Math.random() *100],
          ['pylint func1', Math.random() *100],
          ['pylint func2', Math.random() *10],
          ['pylint func3', Math.random() *10],
          ['unit test #1', Math.random() *10],
          ['unit test #2', Math.random() *10],
          ['unit test #3', Math.random() *10],
          ['Pyntch Metric value 1', Math.random() *100],
          ['Pyntch Metric value 2', Math.random() *100],
          ['Pyntch Metric value 3', Math.random() *100],
          ['Pyntch Metric value 4', Math.random() *100],
          ['Pyntch Metric value 5', Math.random() *100],
          ['Pyntch Metric value 6', Math.random() *100],
          ['Pyntch Metric value 7', Math.random() *100],
          ['Pyflakes #1', Math.random() *80],
          ['Pyflakes #2', Math.random() *80],
          ['Pyflakes #3', Math.random() *80],
          ['Pyflakes #4', Math.random() *80],
          ['Radon #1', Math.random() *80],
          ['Radon #2', Math.random() *50],
          ['Radon #3', Math.random() *50],
          ['Radon #4', Math.random() *50],
          ['Radon #5', Math.random() *50]]);

        var options = {
          title: 'Individual test case results',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    </header>
    <!--/#header-->



    
    
    <section id="shortcodes">
        <div class="container"><center>
            
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div></center>
                    
        </div><!--/#accordion-container-->
    </section> 

    
    


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <br/><br/>
                    <img src="static/images/home/under.png" class="img-responsive inline" alt="">
                    <p>&copy; 2017 Can You C0de 1t?</p>
                </div>
              
                <!--
                <div class="col-sm-12">
                    <div class="col-sm-12 text-center bottom-separator">
                    <div class="copyright-text text-center">
                        <p>&copy; 2017 Can You C0de 1t?</p>
                    </div>
                </div>-->
            </div>
        </div>
    </footer>
    <!--/#footer-->


    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/lightbox.min.js"></script>
    <script type="text/javascript" src="static/js/wow.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>   
</body>
</html>
